[Unit]
Description=Clien Audit

[Service]
ExecStart=/home/vagrant/NURE/audit-user-client/client_audit.sh
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
